.travel {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  margin-top: 15px;
}
.title-second {
  width: 100%;
  font-size: 33px;
  font-weight: 400;
  color: #022b3e;
  margin: 20px 0px;

  line-height: 0.9;
}
.story {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-paragraph {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  line-height: 1.7;
  margin: 20px 0px;
  width: 100%;
  padding-left: 30px;
  text-align: left;
}
.paragraph-story {
  font-size: 18px;
  font-weight: 300;
  color: #333;
  line-height: 1.7;
  margin: 20px 0px;
  width: 45%;
  padding-left: 30px;
  text-align: left;
}
.main-paragraph span,
.paragraph-story a,
.paragraph-story span {
  color: #fe414a;
  text-decoration: none;
}
.image-story {
  width: 55%;
}
.image-content {
  width: 60%;
}
