@media (max-width: 800px) {
  .page-content {
    border-radius: 20px;
    padding: 25px 20px;
  }
  .logo-branding {
    width: 40%;
  }
  nav > .nav-icon {
    margin: 0px;
  }
  nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  nav > .nav-btn > label:hover,
  nav #nav-check:checked ~ .nav-btn > label {
    background-color: #fff;
  }
  nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    /* border-top: 2px solid #eee; */
    background-color: #022b3e;
  }
  nav > .menu {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  nav > .menu > a {
    display: block;
    width: 100%;
  }
  nav > #nav-check:not(:checked) ~ .menu {
    height: 0px;
  }
  nav > #nav-check:checked ~ .menu {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #022b3e;
  }

  /* Footer */
  .icon-brand {
    width: 100%;
  }
  .baner-js {
    width: 30%;
  }
}
