body {
  background-color: #022b3e;
  margin: 40px;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 600px) {
  body {
    margin: 10px;
  }
}
